<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Document</title>
    <style>
        .centered-form {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh; 
        }
      </style>
</head>
<body>
    <div class="container centered-form">
    <form>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Text</label>
          <textarea name="text" id="text" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    <%- include('./partials/script') %>
</body>
</html>